.App {
    text-align: left;

}

.App-logo {
    alignment: left;
    vertical-align: middle;
    height: 80px;
    background-color: white;
}

.App-header {
    background-color: #fff;
    height: 150px;
    padding: 20px;
    color: black;
    text-align: center;
}

.App-title {
    font-size: 1.5em;
}

.App-input {
    padding: 20px;
}

.App-output {
    padding: 20px;
}

.App-output div[class^="col-xs"] {
    outline: 1px solid #ddd;
}

.header {
    font-size: 1.5em;
    text-align: center;
}

.sub-header {
    font-size: 1.2em;
    text-align: center;
}

/*some css I added*/
input[type="file"] {
    display: inline-block;
}

/*end of my css*/
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
